$white: hsl(0, 0%, 100%);
$cyan: hsl(179, 62%, 43%);
$lightcyan: hsl(179, 47%, 52%);
$brighyellow: hsl(71, 73%, 54%);
$yellow: hsl(70, 71%, 44%);
$lightgray: hsl(204, 43%, 93%);
$graycyan: hsl(183, 71%, 72%);
$grayishblue: hsl(218, 22%, 67%);
$dark: hsl(0, 0%, 25%);