@media (min-width: 768px) {
	.boxes {
		margin: 80px auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		.one {
			grid-column: 1/-1;
			grid-row: 1/2;
		}
		.two {
			grid-column: 1/2;
			grid-row: 2/3;
		}
		.three {
			grid-column: 2/3;
			grid-row: 2/3;
		}
	}
}

@media (min-width: 992px) {
	.boxes {
		margin: 80px auto;
        width: 60%;
	}
}

@media (min-width: 1200px) {
	.boxes {
		margin: 120px auto;
        width: 40%;
	}
}
